<!DOCTYPE html>
<html>
  <head>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Bacon.js -->
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.53/Bacon.js"></script>
    <script type="application/javascript" src="https://rawgit.com/raimohanska/Bacon.UI.js/master/Bacon.UI.js"></script>
    <!-- React -->
    <script src="http://fb.me/react-0.13.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>

    <script type="application/javascript" src="app.js"></script>
    <script type="text/jsx" src="components/username.js"></script>

  </head>
  <body >
    <div>

      <div id="username"></div>

      <div id="fullname">
        <input type="text" placeholder="Full Name">
      </div>

      <div id="register">
        <button>register</button>
        <em class="ajax"></em>
        <span id="result"></span>
      </div>

    </div>
  </body>
</html>
