<!DOCTYPE html>
<html>
  <head>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.53/Bacon.js"></script>
    <script type="application/javascript" src="https://rawgit.com/raimohanska/Bacon.UI.js/master/Bacon.UI.js"></script>
    <script type="application/javascript" src="app.js"></script>
  </head>
  <body >
    <div>


    </div>
  </body>
</html>
