node_modules
reveal_presentation/css/
reveal_presentation/js/
reveal_presentation/lib/
reveal_presentation/plugin/
*.swp
steam_api_project/css/
steam_api_project/js/
steam_api_projects/lib/
steam_api_projects/plugin/
