node_modules
reveal_presentation/css/
reveal_presentation/js/
reveal_presentation/lib/
reveal_presentation/plugin/
*.swp
steam_api_project/css/
steam_api_project/js/
steam_api_projects/lib/
steam_api_projects/plugin/
C/mpc.h
C/mpc.c
/Angular_Test_Cases/Example3/data/
.DS_Store
a.out
