doctype html
html
  head
    title #{title} - Testing Page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Welcome
    .container
      .main-content
        block content
    footer
      p Check out my GitHub https://github.com/frankcash
